[Unit]
Description=The Flens Message Router
After=syslog.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/java -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/root/ -cp /usr/share/java/core-0.0.1-SNAPSHOT-jar-with-dependencies.jar:/usr/lib/jvm/java-1.7.0/lib/tools.jar flens.Service /etc/flens.d

[Install]
WantedBy=multi-user.target